.idea
**/.firebaserc

.runtimeconfig.json
.firebase/

*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.out
/vendor/
/Godeps/

.DS_Store
.AppleDouble
.LSOverride

._*

logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

coverage

node_modules/

.env
.env.test

.cache

tags

